<div class="comment" id="{{ id }}">
  <img
    [src]="profileImageAvatar"
    alt="{{ comment.commenterProfile.firstname }} {{
      comment.commenterProfile.lastname
    }}"
  />
  <div class="content">
    <h3>
      <a href=""
        >{{ comment.commenterProfile.firstname }}
        {{ comment.commenterProfile.lastname }}</a
      >
    </h3>
    <div class="bottom">
      <p>
        {{ comment.value }}
      </p>
    </div>
    <span
      ><time> {{ comment.commentDate | date: "MMM d, y, h:mm:ss a" }} - </time
      ><a href="#">Like</a></span
    >
  </div>
</div>
